



.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
 
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

.right { float: right; }

.containers {
    width: 100%;
    margin: 60px auto;
    background-color: black;
    display: flex;
    
    
    
}

.income {
    float: left;
    width: 50%;
    /*margin-right: 50px;*/
    background-color: black;
    border: none;
    padding: 100px;
    

}

.expenses {
    float: left;
    width: 50%;
    padding:100px;
   
    
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    
}

.icome__title { color: #28B9B5; text-align: center; }
.expenses__title { color: #FF5049; text-align: center; }

.item {
    padding: 13px;
    border-bottom: 1px solid #e7e7e7;
}



.item__description {
    float: left;
    color: white;
    padding:10px;
    padding-left: 20px;
}

.item__value {
    float: left;
    transition: transform 0.3s;
}

.item__percentage {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #lack;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center;
}

.income .item__value,
.income .item__delete--btn {
    color: #28B9B5;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
    color: #FF5049;
}


.item__delete {
    float: left;
}

.item__delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { transform: translateY(2px); }

.item:hover .item__delete--btn { display: block; }
.item:hover .item__value { transform: translateX(-20px); }
.item:hover .item__percentage { transform: translateX(-20px); }


